:root{
	--marine-blue: #010939;
	--peach: #ED5858;
	--deep-red: #820000;
	--nav-height: 80px;
}

*{
	margin: 0;
	padding: 0;

	font-family: sans-serif;
}

img{
	pointer-events: none;
}

body{
	background: var(--marine-blue);
	height: 400vh;
	width: 100vw;
	overflow-x: hidden;
}

nav{
	position: fixed;
	height: var(--nav-height);
	width : 100vw;

	display: flex;
	align-items: center;

	background: var(--deep-red);
	font-size: 20pt;
	font-weight: 800;

	top: 0;
	transition: 0.6s;
	z-index: 100;
}

nav ul{
	list-style-type:none;
	align-items: center;
}

nav ul li{
	display: flex;
	float: left;
	margin: 0 30px;

	text-align: center;

	/*border: 2px solid white;*/

}

nav ul li a{
	text-decoration: none;
	color: var(--peach);
}

nav ul li img{
	height: 40px;
}

.section{
	width: 100vw;
	height: 100vh;
	/*border: 3px solid green;*/
	color: white;
	position: relative;

	margin-bottom: 10%;

	/*overflow-y: hidden;*/
}

.title-texts{
	font-variant: small-caps;
	color: var(--peach);
	font-size: 5rem;
	font-weight: 800;
	position: absolute;
}

#PrabalyaTitle, #RegTitle{
	top: 10%;
	left: 10%;
}

#WelcomeText{
	font-size: 3rem;
}

#intro_welcome{
	background: var(--peach);
	width: 100%;
	height: 60%;
	position: absolute;
	bottom: 0px;
	
	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

#intro_welcome_text{
	width: 80%;
	height: auto;
	
	color: var(--marine-blue);
	text-align: justify;
	font-size: 1.2rem;
	font-weight: 800;

	z-index: 1;
}

#TitleCricket{
	position: absolute;
	width: 60%;
	top: 6%;
	right: 0;
}

#TitleStadium{
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	mix-blend-mode: soft-light;
	width: 80%;
}

.eventsSlider{
	width: 30px;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 10em;
	text-align: center;
	opacity: 0.5;
	position: absolute;
}
.eventsSlider:hover{
	  opacity: 1;
	}

#leftSlider{
	margin-top: 300px;
	left: 50px;
}

#rightSlider{
	margin-top: 200px;
	left: 1150px;
}

#EventsSections{
	width : 100%;
	display: flex;
}

#EventsTitle{
	position: absolute;
	left: 55vw;
	top: 0%;
	z-index: 99;
}
/*///////////////////////////////////////*/
#EventDetailsContainer{
	position: absolute;
	display: inline;
	width: 500%;
	height: 100%;
	overflow: scroll;

	transform: translateX(0%);
	transition-duration: 0.5s;
}

.EventDetailsBox{
	position: relative;
	display: flex;
	overflow: auto;
	flex: 1;
	float: left;

	width: 20%;
	height: 100%;

}

.eve{
	position: absolute;
	width: 40%;
	text-align: justify;
}
.eve1{
	top: 20%;
	left: 5%;
}
.eve2{
	bottom: 10%;
	right: 5%;
}

.event_name{
	font-size: 4rem;
	font-weight: 1000;
	padding-bottom: 5%;
}
.event_desc{
	font-size: 1rem;
}

.EventDetailsBox img{
	width: 30%;
	position: absolute;
	bottom: 5%;
	left: 25%;
	transform: translateX(-50%);
}


#EventsForm{
	background: var(--peach);
	position: absolute;
	width: 25%;
	height: 70%;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
}

footer{
	background: var(--deep-red);
	position: absolute;
	display: block;
	width: 100%;
	height: 15%;
	bottom: 0;
	display: flex;
	align-items: center;
}

.footer_partition{
	text-align: center;
	width: 100%;
}

.footer_partition img{
	height: 60px;
	padding: 0 40px;
}
